In [ ]:
import pandas as pd
from datetime import datetime

In [ ]:
df1 = pd.read_csv("/content/drive/MyDrive/01_CME_Mini_NQ.csv")
df1.info()
df1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11945 entries, 0 to 11944
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   time    11945 non-null  int64
 1   open    11945 non-null  float64
 2   high    11945 non-null  float64
 3   low     11945 non-null  float64
 4   close   11945 non-null  float64
dtypes: float64(4), int64(1)
memory usage: 466.7 KB

             time      open      high       low     close
0      1609714800  12889.00  12905.00  12852.75  12864.00
1      1609718400  12864.50  12866.75  12825.25  12834.25
2      1609722000  12834.25  12853.75  12833.25  12850.75
3      1609725600  12850.75  12866.75  12850.75  12859.00
4      1609729200  12859.50  12873.50  12855.75  12871.00
...           ...       ...       ...       ...       ...
11940  1673298000  11187.75  11191.25  11171.50  11184.75
11941  1673305200  11184.75  11187.00  11166.00  11173.75
11942  1673308800  11174.25  11176.25  11142.75  11154.25
11943  1673312400  11153.75  11179.00  11153.00  11174.25
11944  1673316000  11175.00  11178.00  11148.25  11151.25

[11945 rows x 5 columns]

In [ ]:
df1['time'] = pd.to_datetime(df1['time'],unit='s')

In [ ]:
from scipy.signal import argrelextrema
import numpy as np

In [ ]:
s=300
e=500
i=4
dfpl = df1[s:e]

max_idx = (argrelextrema(dfpl['high'].values, np.greater_equal, order=i)[0])
min_idx = (argrelextrema(dfpl['low'].values, np.less_equal, order=i)[0])

dfpl = dfpl.reset_index()

print(len(max_idx), len(min_idx))

13 15

In [ ]:
HorL = []
for i in range(len(max_idx)):
  if i==0:
    HorL.append([max_idx[i], dfpl['high'][max_idx[i]], 'start'])
  elif dfpl['high'][max_idx[i]] > dfpl['high'][max_idx[i-1]]:
    HorL.append([max_idx[i], dfpl['high'][max_idx[i]], 'HH'])
  elif dfpl['high'][max_idx[i]] < dfpl['high'][max_idx[i-1]]:
    HorL.append([max_idx[i] , dfpl['high'][max_idx[i]],'HL'])
  else:
    HorL.append([max_idx[i], dfpl['high'][max_idx[i]], 0])

LorH = []
for i in range(len(min_idx)):
  if i==0:
    LorH.append([min_idx[i], dfpl['low'][min_idx[i]], 'start'])
  elif dfpl['low'][min_idx[i]] > dfpl['low'][min_idx[i-1]]:
    LorH.append([min_idx[i], dfpl['low'][min_idx[i]], 'LH'])
  elif dfpl['low'][min_idx[i]] < dfpl['low'][min_idx[i-1]]:
    LorH.append([min_idx[i] , dfpl['low'][min_idx[i]],'LL'])
  else:
    LorH.append([min_idx[i], dfpl['low'][min_idx[i]], 0])

In [ ]:
HorL = pd.DataFrame(HorL)
HorL

      0         1      2
0     0  13392.00  start
1    16  13423.50     HH
2    34  13391.75     HL
3    56  13554.50     HH
4    63  13483.75     HL
5    81  13533.00     HH
6    86  13599.75     HH
7    94  13573.00     HL
8   129  13394.00     HL
9   147  13167.00     HL
10  182  13371.25     HH
11  189  13378.50     HH
12  199  13493.50     HH

In [ ]:
LorH = pd.DataFrame(LorH)
LorH

      0         1      2
0     4  13335.00  start
1    10  13283.25     LL
2    21  13332.75     LH
3    31  13300.25     LL
4    58  13189.00     LL
5    69  13380.25     LH
6    91  13535.25     LH
7   102  13171.25     LL
8   109  12884.75     LL
9   120  12906.25     LH
10  142  12933.50     LH
11  151  12829.00     LL
12  156  12727.25     LL
13  171  12970.25     LH
14  187  13301.25     LH

In [ ]:
ee = pd.concat([HorL,LorH], axis=0)
ee

      0         1      2
0     0  13392.00  start
1    16  13423.50     HH
2    34  13391.75     HL
3    56  13554.50     HH
4    63  13483.75     HL
5    81  13533.00     HH
6    86  13599.75     HH
7    94  13573.00     HL
8   129  13394.00     HL
9   147  13167.00     HL
10  182  13371.25     HH
11  189  13378.50     HH
12  199  13493.50     HH
0     4  13335.00  start
1    10  13283.25     LL
2    21  13332.75     LH
3    31  13300.25     LL
4    58  13189.00     LL
5    69  13380.25     LH
6    91  13535.25     LH
7   102  13171.25     LL
8   109  12884.75     LL
9   120  12906.25     LH
10  142  12933.50     LH
11  151  12829.00     LL
12  156  12727.25     LL
13  171  12970.25     LH
14  187  13301.25     LH

In [ ]:
ee.columns= ['i','price','trend']
ee = ee.sort_values('i')
ee = ee.reset_index(drop=True)
ee

      i     price  trend
0     0  13392.00  start
1     4  13335.00  start
2    10  13283.25     LL
3    16  13423.50     HH
4    21  13332.75     LH
5    31  13300.25     LL
6    34  13391.75     HL
7    56  13554.50     HH
8    58  13189.00     LL
9    63  13483.75     HL
10   69  13380.25     LH
11   81  13533.00     HH
12   86  13599.75     HH
13   91  13535.25     LH
14   94  13573.00     HL
15  102  13171.25     LL
16  109  12884.75     LL
17  120  12906.25     LH
18  129  13394.00     HL
19  142  12933.50     LH
20  147  13167.00     HL
21  151  12829.00     LL
22  156  12727.25     LL
23  171  12970.25     LH
24  182  13371.25     HH
25  187  13301.25     LH
26  189  13378.50     HH
27  199  13493.50     HH

In [ ]:
ee1 =ee
t = []
for i in range(1, len(ee1)):
  if (ee1['trend'][i-1] == 'LL' and ee1['trend'][i] == 'LH') or (ee1['trend'][i-1] == 'LH' and ee1['trend'][i] == 'LL') or (ee1['trend'][i-1] == 'LL' and ee1['trend'][i] == 'LL') or (ee1['trend'][i-1] == 'LH' and ee1['trend'][i] == 'LH'):
    a= ee1['i'][i-1]
    b = ee1['i'][i]
    highvalue = max(dfpl['high'][a+1:b])
    df_highvalue = dfpl[a+1:b]
    c = df_highvalue[df_highvalue['high']== highvalue].index[0]
    t.append([c, highvalue, 'H'])
  elif (ee1['trend'][i-1] == 'HL' and ee1['trend'][i] == 'HH') or (ee1['trend'][i-1] == 'HH' and ee1['trend'][i] == 'HL') or (ee1['trend'][i-1] == 'HH' and ee1['trend'][i] == 'HH') or (ee1['trend'][i-1] == 'HL' and ee1['trend'][i] == 'HL'):
    a= ee1['i'][i-1]
    b = ee1['i'][i]
    lowvalue = min(dfpl['low'][a+1:b])
    df_lowvalue = dfpl[a+1:b]
    c = df_lowvalue[df_lowvalue['low']== lowvalue].index[0]
    for l in range(len(min_idx)):
      if min_idx[l] < c:
        min_idx1 = min_idx[l]
    if lowvalue > dfpl['low'][min_idx1]:
      z = 'LH'
      t.append([c, lowvalue, z])
    elif lowvalue < dfpl['low'][min_idx1]:
      z = 'LL'
      t.append([c, lowvalue, z])
    else:
      z = 0
      t.append([c, lowvalue, z])

In [ ]:
t = pd.DataFrame(t)
t.columns= ['i','price','trend']
tt = pd.concat([ee1,t], axis=0)
tt = tt.sort_values('i')
tt = tt.reset_index(drop=True)
tt

      i     price  trend
0     0  13392.00  start
1     4  13335.00  start
2    10  13283.25     LL
3    16  13423.50     HH
4    21  13332.75     LH
5    23  13363.75      H
6    31  13300.25     LL
7    34  13391.75     HL
8    35  13337.00     LH
9    56  13554.50     HH
10   58  13189.00     LL
11   63  13483.75     HL
12   69  13380.25     LH
13   81  13533.00     HH
14   82  13457.00     LH
15   86  13599.75     HH
16   91  13535.25     LH
17   94  13573.00     HL
18  102  13171.25     LL
19  103  13383.25      H
20  109  12884.75     LL
21  112  13129.75      H
22  120  12906.25     LH
23  129  13394.00     HL
24  142  12933.50     LH
25  147  13167.00     HL
26  151  12829.00     LL
27  154  13021.00      H
28  156  12727.25     LL
29  168  13084.00      H
30  171  12970.25     LH
31  182  13371.25     HH
32  187  13301.25     LH
33  189  13378.50     HH
34  192  13326.00     LH
35  199  13493.50     HH

In [ ]:
changetrend = [0] * len(tt)

for i in range(2, len(tt)):
  if  tt['trend'][i-1] =='HL' and tt['trend'][i] =='LL':
    changetrend[i-1] = 'down'
  elif tt['trend'][i-1] =='LL' and tt['trend'][i] =='HL':
    changetrend[i-1] = 'down'
  elif tt['trend'][i-1] =='LH' and tt['trend'][i] =='HH':
    changetrend[i-1] = 'up'
  elif tt['trend'][i-1] =='HH' and tt['trend'][i] =='LH':
    changetrend[i-1] = 'up'
  else:
    changetrend[i-1]=0

In [ ]:
tt['changetrend'] = changetrend
tt

      i     price  trend changetrend
0     0  13392.00  start           0
1     4  13335.00  start           0
2    10  13283.25     LL           0
3    16  13423.50     HH          up
4    21  13332.75     LH           0
5    23  13363.75     HL        down
6    31  13300.25     LL        down
7    34  13391.75     HL           0
8    35  13337.00     LH          up
9    56  13554.50     HH           0
10   58  13189.00     LL        down
11   63  13483.75     HL           0
12   69  13380.25     LH          up
13   81  13533.00     HH          up
14   82  13457.00     LH          up
15   86  13599.75     HH          up
16   91  13535.25     LH           0
17   94  13573.00     HL        down
18  102  13171.25     LL        down
19  103  13383.25     HL        down
20  109  12884.75     LL        down
21  112  13129.75     HL           0
22  120  12906.25     LH           0
23  129  13394.00     HL           0
24  142  12933.50     LH           0
25  147  13167.00     HL        down
26  151  12829.00     LL        down
27  154  13021.00     HL        down
28  156  12727.25     LL        down
29  168  13084.00     HL           0
30  171  12970.25     LH          up
31  182  13371.25     HH          up
32  187  13301.25     LH          up
33  189  13378.50     HH          up
34  192  13326.00     LH          up
35  199  13493.50     HH           0

In [ ]:
import plotly.graph_objects as go
from datetime import datetime
import matplotlib.pyplot as plt


layout = go.Layout(
    autosize=False,
    width=3000,
    height=2000,)

i=5

fig = go.Figure(data=[go.Candlestick(x=dfpl.index,
                open=dfpl['open'],
                high=dfpl['high'],
                low=dfpl['low'],
                close=dfpl['close'])], layout=layout)

c = 0
while(1):
  if(c>len(tt)-1):
    break
  elif (c<=len(tt)-1):
    fig.add_shape(type="circle", x0=tt['i'][c]-0.8, y0=dfpl['close'][tt['i'][c]]-1.5,
             x1=tt['i'][c]+0.8, y1=dfpl['close'][tt['i'][c]]+1.5,line_color = "red")
    c+= 1

#fig.write_image("/content/drive/MyDrive/fig1_parameter4.png")
fig.show()